fastapi
uvicorn
streamlit

torch

spacy
lime

numpy
pandas

requests
sqlalchemy
psycopg2-binary
python-multipart
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

tiktoken
torchvision
transformers==4.41.2
tokenizers==0.19.1